<div style="display: flex; align-items: center; justify-content: center; height: 100vh;" *ngIf="isLoading">
    <div>
        <app-loading></app-loading>
    </div>
</div>
<div [hidden]="isLoading">
<div class="flex align-items-center justify-content-md-center m-3">
    <p *ngIf="err" class="text-danger bolder">{{err}}</p>
</div>


   
    <div class="col-12 col-md-6 col-lg-6  p-3">

    <div class="container">

        <form (ngSubmit)="OnSubmit()" #form="ngForm"  [hidden]="!showHtml">
            <div class="">
                <span class="bolder"> {{appointment.date | date:'mediumDate'}} </span>
                <span class="bolder"> {{appointment.time  | formatTime}} </span> 
              </div>
              <hr>
              <div class="row"></div>
              <div class="row">
                <div class="nice-form-group col-md-6 pe-md-2">
                    <label for="exampleInputEmail1">patient Name</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" ngModel name="patientName"
                        #patientName="ngModel" required placeholder="patien tName">
                    <span *ngIf="!patientName.valid && patientName.touched" class="text-danger">
                        <span *ngIf="patientName.errors?.required">patient Name is required.</span>
                    </span>
                </div>

          

                <div class="nice-form-group col-md-6 ps-md-2">
                    <label for="exampleInputEmail1">contact Number</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="contact Number" ngModel name="contactNumber" #contactNumber="ngModel" required>
                    <span *ngIf="!contactNumber.valid && contactNumber.touched" class="text-danger">
                        <span *ngIf="contactNumber.errors?.required">contact Number is required.</span>
                    </span>
                </div>
            </div>
   
  
         
            <div class="row">

                <div class="nice-form-group col-md-6 pe-md-2">
                    <label for="age">patient Age</label>
                    <input type="number" class="form-control" id="age" placeholder="age" ngModel
                        name="patientAge" minlength="1" required #patientAge="ngModel">
                    <span *ngIf="!patientAge.valid && patientAge.touched" class="text-danger">
                        <span *ngIf="patientAge.errors?.required">patient Age is required.</span>
                    </span>
                </div>

                <div class="nice-form-group col-md-6 ps-md-2">
                    <label for="appointmentStatusId"> AppointmentStatus</label>
                    <select  ngModel name="appointmentStatusId" id="appointmentStatusId" #appointmentStatusId class="form-control text-center" type="search">
                        <option class="bolder" *ngFor="let status of appStatusArray" [value]="status.appointmentStatusId">{{status.name}}</option>
                    </select>
                    <span *ngIf="!appointmentStatusId.valid && appointmentStatusId.touched" class="text-danger">
                        <span *ngIf="AppointmentStatus.errors?.required">AppointmentStatus is required.</span>
                    </span>
                </div>
            
            </div>

            <div class="row">
                <div class="nice-form-group col-md-6 pe-md-2">
                    <label for="description"> description</label>
                    <textarea rows="5"  class="form-control" id="description" placeholder="description" ngModel
                        name="description"  required #description="ngModel"></textarea>
                    <span *ngIf="!description.valid && description.touched" class="text-danger">
                        <span *ngIf="description.errors?.required">description  is required.</span>
                    </span>
                </div>
           

       

                <div class="nice-form-group col-md-6">
                    <label for="medicines">medicines</label>
                    <textarea rows="5" class="form-control" id="medicines" placeholder="medicines" ngModel
                        name="medicines"  required #medicines="ngModel"></textarea>
                    <span *ngIf="!medicines.valid && medicines.touched" class="text-danger">
                        <span *ngIf="medicines.errors?.required">medicines  is required.</span>
                    </span>
                </div>
     
            </div>

               
      
        
                <div class="nice-form-group">
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid"
                       >Update</button>
                </div>
       
        </form>
    </div>
</div>
</div>