<nav class="navbar navbar-expand-lg navbar-light bg-light p-2" style=" background-color:#ffd700 !important;">
    <a class="navbar-brand" >BOOK<span class="italic-text" style="color: rgba(0, 0, 0, 0.7);font-style:italic !important;">DOC</span></a>
    <button class="navbar-toggler" type="button" [ngClass]="{'active': isCollapsed}" (click)="isCollapsed = !isCollapsed" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse flex justify-content-between " [ngClass]="{'show': !isCollapsed}" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/" >Home</a>
        </li>
        
        <li class="nav-item">


            <div ngbDropdown class="d-inline-block" *ngIf="IsAuth && Role=='Admin'">
              <a
               type="button"  id="dropdownBasic1" ngbDropdownToggle class="nav-link dropdown-toggle">
Admin
            </a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                <button ngbDropdownItem>
      <a class="nav-link" routerLink="/auth/Signup/manager" *ngIf="IsAuth && Role=='Admin'" >Signup Manager</a>
                </button>
                <button ngbDropdownItem>
                  <a class="nav-link" routerLink="/auth/Signup/doctor" *ngIf="IsAuth && Role=='Admin'">Signup Doctor</a>

                </button>
              </div>
            </div>
       
  
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/appointments/doctor/appointments" *ngIf="Role=='Doctor'&& IsAuth" >My Appointments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/appointments/user/appointments" *ngIf="Role=='Patient'&& IsAuth" >My Appointments</a>
        </li>

      </ul>
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/Signup/user" *ngIf="!IsAuth">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/login" *ngIf="!IsAuth">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" *ngIf="IsAuth" (click)="OnLogout()" style="cursor: pointer;">Logout</a>
        </li>
      </ul>
     
    </div>
  </nav>
  