<div style="display: flex; align-items: center; justify-content: center; height: 100vh;" *ngIf="IsLoading">
  <div>
      <app-loading></app-loading>
  </div>
</div>
<div class="col-12 col-md-6 col-lg-3  p-3 mx-auto p-5">

   
    <div class="alert alert-danger" role="alert" *ngIf="error">
      <div>{{error}}</div>
    </div>
  
    <form (ngSubmit)="OnSubmit()" #form="ngForm" [hidden]="IsLoading">
  
      <div class="nice-form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter email" ngModel name="Email" #Email="ngModel" required>
        <span *ngIf="!Email.valid && Email.touched" class="text-danger">
          <span *ngIf="Email.errors?.required">Password is required.</span>
        </span>
      </div>
      <div class="nice-form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ngModel
          name="password" minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).*$" required #password="ngModel">
        <span *ngIf="!password.valid && password.touched" class="text-danger">
          <span *ngIf="password.errors?.required">Password is required.</span>
          <br>
          <span *ngIf="password.errors?.minlength">Password must be at least 8 characters. </span>
          <br>
          <span *ngIf="password.errors?.pattern">Password must contain at least one lowercase letter,<br> one uppercase
            letter, and one digit.</span>
        </span>
      </div>
      <div class="nice-form-group  d-flex">
        <p class="text-muted h6">Don't have account? </p> <a class="link-opacity-100" routerLink="/auth/Signup/user">signup</a>
      </div>
      <div class="nice-form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
      </div>
    </form>
  </div>
  
  