.content-height{
    max-height: 300px;
}

.scroll-container {
    max-height: 200px; /* Set your desired height */
    overflow-y: auto;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: darkgrey lightgrey; /* Firefox */

    /* For Webkit-based browsers (Chrome, Safari) */
    &::-webkit-scrollbar {
      width: 8px; /* Set the width of the scrollbar */
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey; /* Set the color of the scrollbar thumb */
    }

    &::-webkit-scrollbar-track {
      background-color: lightgrey; /* Set the color of the scrollbar track */
    }
  }