<app-loading *ngIf="!isCompleted" class="center"></app-loading>
<div *ngIf="isCompleted">

<div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<div class="modal-body ">
    <div *ngFor="let dateSlot of displayedItems" class="p-2 flex-row justify-content-start " [ngStyle]="{'max-height.px': maxHeight}">
        <button  [disabled]="!timeSlot.isAvailable" *ngFor="let timeSlot of dateSlot.timeSlots"type="button" 
        class="m-1 btn btn-light "
        (click)="AddAppointment(timeSlot.time,dateSlot.date)"
    >
    {{timeSlot.time}}
    </button>
    </div>
</div>
<div class="text-center">
<ngb-pagination [collectionSize]="totalItems" [(page)]="currentPage" [directionLinks]="false"  
 [pageSize]="pageSize"
/>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
</div>