<div style="display: flex; align-items: center; justify-content: center; height: 100vh;" *ngIf="!isCompleted">
    <div>
        <app-loading></app-loading>
    </div>
</div>

<div *ngIf="isCompleted">

<div class="modal-header">
    <div class="row align-items-center p-1">
        <div class="col-auto">
            <img [src]="doctor.img" width="70" class="rounded-circle">
        </div>
        <div class="col">
            <h5 class="mb-0">{{ doctor.name }}</h5>
        </div>
    </div>    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<div class="modal-body ">
    <div *ngFor="let dateSlot of displayedItems" class="p-2 d-flex justify-content-center " [ngStyle]="{'max-height.px': maxHeight}">
        <div style="max-height: 200px; overflow-y: auto;" class="scroll-container row" *ngIf="dateSlot.timeSlots.length>1; else non">
            <h4 class="bolder pb-2">{{dateSlot.date | date:'mediumDate'}} </h4>
            <button
              [disabled]="!timeSlot.isAvailable"
              *ngFor="let timeSlot of dateSlot.timeSlots"
              type="button"
              class="m-1 btn btn-light col-md-3"
              (click)="AddAppointment(timeSlot.time, dateSlot.date)"
            >
              {{ timeSlot.time | formatTime}}
            </button>
          </div>
          <ng-template #non>
            <h4 class="bolder auto"> {{dateSlot.date | date:'mediumDate'}} </h4>
            <p class="auto">Sorry, there is No Appointments!</p>
            
        </ng-template>





    </div>
    
</div>
<div class="d-flex justify-content-center">
    <ngb-pagination [collectionSize]="totalItems" [(page)]="currentPage" [directionLinks]="false"  
 [pageSize]="pageSize"
/>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
</div>