body{
    background-color:whitesmoke;
    height: 100vh; /* 100% of the viewport height */
    position: relative;
}



  .btn-primary {
    border-radius: 20px;
    background-color: #ffd700 !important;
    color: #000 !important;
    border-color: #ffd700 !important;
    font-size: 13px !important
}
.btn-primary:hover{
    background-color: black !important; /* Change this to your desired hover color */
color: #ffd700 !important;
border-color: black !important;

}

 
