body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
  }

  .header {
    padding: 3rem 1.5rem;
    text-align: center;
    background: url('../shared/images/midical.webp') center/cover no-repeat;
    color: #ffffff;
    height: 100vh;
  }

  .main-section {
    padding: 3rem 1.5rem;
  }
   /*border: 1px solid #ffd700;*/

  .feature {
    text-align: center;
    margin-bottom: 2rem;
    border-radius: 10px;
    padding: 1.5rem;
    background-color: #ffffff;
  }
.feature h3{
  padding-top: 5px;
}
  .feature img {
    max-width: 250px;
    height: 200px;
    border-radius: 5px;
  }

  .cta {
    text-align: center;
    margin-top: 3rem;
  }